@media (max-width: 768px) {
    .header-content-text h1 {
        font-size: 6vw;
    }

    .header-content-text p {
        font-size: 4vw;
    }

    .header-nav-item {
        font-size: 3vw;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header-content-link svg {
        width: 8vw;
        height: 8vw;
    }

    .cover_text {
        width: 80vw;
        height: 8vw;
        font-size: 6vw;
    }

    .arena {
        padding: 5vw;
    }

    .about_club_heading {
        width: 37vw;
        height: 8vw;
        font-size: 6vw;
    }

    .arena-text-full li {
        font-size: 4vw;
    }

    .photo_arena img {
        width: 80%;
        padding: 10px 0;
    }

    .footer_text p {
        font-size: 4vw;
    }

    .footer_link svg {
        width: 5vw;
        height: 5vw;
    }

    .players_card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .coach_card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .players_card_photo {
        width: 30vw;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .description {
        font-size: 4vw;
    }

    .partners_heading {
        margin: 50px 0px 10px 9vw;;
    }

    .partner_card {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 30px;
    }

    .partner_inf_full{
        padding: 5px;
    }

    .partner_inf{
        font-size: 2.5vw;
    }

    .news_card{
        margin: 30px;
        width: 80%;
    }

    .news_card{
        font-size: 5vw;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .header-content-text h1 {
        font-size: 5vw;
    }

    .header-content-text p {
        font-size: 3vw;
    }

    .header-nav-item {
        font-size: 2.5vw;
    }

    .header-content-link svg {
        width: 6vw;
        height: 6vw;
    }

    .cover_text {
        width: 70vw;
        height: 7vw;
        font-size: 5vw;
    }

    .about_club_heading {
        width: 35vw;
        height: 7vw;
        font-size: 5vw;
    }

    .arena-text-full li {
        font-size: 3vw;
    }

    .photo_arena img {
        width: 45%;
        padding: 15px;
    }

    .footer_text p {
        font-size: 3vw;
    }

    .footer_link svg {
        width: 6vw;
        height: 6vw;
    }

    .players_card {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .players_card_photo {
        width: 20vw;
        margin-right: 20px;
    }

    .description {
        font-size: 2.5vw;
    }

    .news_card{
        margin: 30px;
        width: 60%;
    }

    .news_card{
        font-size: 4vw;
    }
}

@media (min-width: 1024px) {
    .header-content-text h1 {
        font-size: 4vw;
    }

    .header-content-text p {
        font-size: 2vw;
    }

    .header-nav-item {
        font-size: 2vw;
    }

    .header-content-link svg {
        width: 5vw;
        height: 5vw;
    }

    .cover_text {
        font-size: 4vw;
    }

    .about_club_heading {
        font-size: 4vw;
    }

    .arena-text-full li {
        font-size: 2vw;
    }

    .photo_arena img {
        width: 40%;
        padding: 15px 30px;
    }

    .footer_text p {
        font-size: 2vw;
    }

    .footer_link svg {
        width: 5vw;
        height: 5vw;
    }

    .players_card {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .players_card_photo {
        width: 15vw;
        margin-right: 20px;
    }

    .coach_card {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .description {
        font-size: 2vw;
    }
}

