html {
    scroll-behavior: smooth;
}

.boby {
    font-family: "Oswald", sans-serif;
    color: #0293DE;
    font-size: 2vw;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header a {
    color: #fff;
}

.header {
    color: #fff;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0072BC;
    width: auto;
    /* min-height: 150px; */
    padding-inline: 0px;
}

.header-content-logo img {
    width: 8vw;
    margin-left: 40px;
}

.header-content-text h1 {
    text-align: center;
    font-size: 5vw;
    font-weight: 600;
}

.header-content-text p {
    font-size: 3vw;
    white-space: nowrap;
}

.header-nav {
    background-color: #65AAD8;
    padding: 1vw 0 1vw;
}

.header-nav-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 30px;
    white-space: nowrap;
    padding: 0 0px;
    font-size: 2vw;
}

.header-content-link svg {
    width: 5vw;
    height: 5vw;
}

#cover{
    background-image: url(/icons/Cover_bg.png);
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 650px;
    background-size: cover;
    margin-bottom: 100px;
}

.photo-1 {
    max-width: 80%;
    border-radius: 1cap;
}

.section-1 {
    text-align: center;
    padding-top: 40px;
}

.photo-1-text {
    margin-top: 50px;
    width: 800px;
    height: 80px;
    background-color: #65AAD8;
    color: #fff;
    font-weight: 500;
    font-size: 5vw;
}

.arena {
    padding-inline: 60px;
    padding-top: 40px;
}

.about_club_heading {
    margin: 50px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 30vw;
    height: 5vw;
    background-color: #65AAD8;
    font-size: 5vw;
}

.arena-text-full {
    margin-bottom: 5vw;
}

.arena-text-full li {
    margin-top: 20px;
}

.photocentra {
    padding-inline: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* row-gap: 40px; */

}

.photocentra img {
    padding: 15px 30px;
}

.footer {
    margin-top: auto;
}

.footer-content {
    background-color: #0072BC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border-radius: 1cap 1cap 0 0; */
}

.footer-logo img {
    margin-left: 30px;
    width: 6vw;
}

.footer-content-center p {
    color: #fff;
}

.footer-right-link svg {
    width: 5vw;
    height: 5vw;
}

#svg251 {
    padding-bottom: 0;
}

.coach_heading{
    margin: 50px 0px 0px 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 30vw;
    height: 6vw;
    font-size: 3vw;
    background-color: #D55050;
}

.coach_card {
    display: flex;
    align-items: center;
    border: 1px solid #892989;
    border-radius: 1cap;
    padding: 10px;
    margin: 3vw 8vw;
    max-width: 100%;
    background-color: #892929;
}

.players_heading{
    margin: 50px 0px 0px 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 40vw;
    height: 6vw;
    font-size: 3vw;
    background-color: #65AAD8;
}

.players_card {
    display: flex;
    align-items: center;
    border: 1px solid #0072BC;
    border-radius: 1cap;
    padding: 10px;
    margin: 3vw 8vw;
    max-width: 100%;

    /* justify-content: space-between; */

    background-color: #0072BC;
}

.players_card_heading{
    display: flex;
    justify-content: space-between;
}



.description {
    padding: 2vw;
    color: white;
    font-size: 2vw;
}

.players_card_photo {
    border-radius: 1cap;
    width: 20vw;
    height: auto;
    margin-right: 20px;
    object-fit: cover;
}

#partners{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.partners_heading {
    margin: 50px 0px 1vw 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 30vw;
    height: 6vw;
    font-size: 3vw;
    background-color: #65AAD8;
}

.partner_card {
    display: flex;
    background-color: #0072BC;
    align-items: center;
    margin: 3vw 8vw;
    width: 100%;
    height: 17vw;
    padding: 20px;
}

.partner_inf {
    color: white;
    font-weight: 400;
    padding: 20px;
}

.partner_card img{
    width: 30vw;
    height: auto;
}

/* .partner_inf h3 {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 600;
} */

.inff {
    font-size: 1.2vw;
    text-indent: 30px;
    line-height: 1.3;
}

@media (max-width: 768px) {
    .header-content-text h1 {
        font-size: 6vw;
    }

    .header-content-text p {
        font-size: 4vw;
    }

    .header-nav-item {
        font-size: 3vw;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header-content-link svg {
        width: 8vw;
        height: 8vw;
    }

    .photo-1-text {
        font-size: 6vw;
    }

    .arena {
        padding: 5vw;
    }

    .about_club_heading {
        width: 37vw;
        height: 8vw;
        font-size: 6vw;
    }

    .arena-text-full li {
        font-size: 4vw;
    }

    .photocentra img {
        width: 80%;
        padding: 10px 0;
    }

    .footer-content-center p {
        font-size: 4vw;
    }

    .footer-right-link svg {
        width: 8vw;
        height: 8vw;
    }

    .players_card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .coach_card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .coach_card_photo {
        width: 30vw;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .players_card_photo {
        width: 30vw;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .description {
        font-size: 4vw;
    }

    .partners_heading {
        margin: 50px 0px 10px 9vw;;
    }

    .partner_card {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 30px;
    }

    .partner_inf{
        padding: 5px;
    }

    .inff{
        font-size: 2.5vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header-content-text h1 {
        font-size: 5vw;
    }

    .header-content-text p {
        font-size: 3vw;
    }

    .header-nav-item {
        font-size: 2.5vw;
    }

    .header-content-link svg {
        width: 6vw;
        height: 6vw;
    }

    .photo-1-text {
        font-size: 5vw;
    }

    .about_club_heading {
        width: 35vw;
        height: 7vw;
        font-size: 5vw;
    }

    .arena-text-full li {
        font-size: 3vw;
    }

    .photocentra img {
        width: 45%;
        padding: 15px;
    }

    .footer-content-center p {
        font-size: 3vw;
    }

    .footer-right-link svg {
        width: 6vw;
        height: 6vw;
    }

    .players_card {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .players_card_photo {
        width: 20vw;
        margin-right: 20px;
    }

    .description {
        font-size: 2.5vw;
    }
}

@media (min-width: 1024px) {
    .header-content-text h1 {
        font-size: 4vw;
    }

    .header-content-text p {
        font-size: 2vw;
    }

    .header-nav-item {
        font-size: 2vw;
    }

    .header-content-link svg {
        width: 5vw;
        height: 5vw;
    }

    .photo-1-text {
        font-size: 4vw;
    }

    .about_club_heading {
        font-size: 4vw;
    }

    .arena-text-full li {
        font-size: 2vw;
    }

    .photocentra img {
        width: 40%;
        padding: 15px 30px;
    }

    .footer-content-center p {
        font-size: 2vw;
    }

    .footer-right-link svg {
        width: 5vw;
        height: 5vw;
    }

    .players_card {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .players_card_photo {
        width: 15vw;
        margin-right: 20px;
    }

    .coach_card {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .coach_card_photo {
        width: 15vw;
        margin-bottom: 20px;
    }

    .description {
        font-size: 2vw;
    }
}

